/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header and Navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  margin: 20px 0;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url('https://media.istockphoto.com/id/1212476391/photo/close-up-male-hand-closed-the-lid-of-a-clay-teapot-made-of-yixing-clay-beautiful-steam-from-a.jpg?s=612x612&w=0&k=20&c=I9N1Fw0e2BdBgOr4_3mTCqBMoMNwFs0djY23F4L6slI=');
  background-size: cover;
  background-position: center;
  height: 300px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Main Content and Cards */
main {
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 10px;
}
